.carousel-inner {
    background-color: #effaf5;
    border-radius: 25px;
    min-height: 300px;
}

.card {
    background-color: #effaf5;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 15px;
    }
}