table {
    text-align: center;
}

.tb1 {
    background-color:#1091e4;
}

.tb2 {
    background-color:#ff530b;
}

.tb3 {
    background-color: #fff000;
}

.tb4 {
    background-color: #31d038;
}

a {
    text-decoration: none;
}